version: '3.9'

services:
  fastapi:
    build: .
    container_name: back_chatbot_app
    ports:
      - "8000:8000"
    environment:
      - PYTHONUNBUFFERED=1
    env_file:
      - .env
    restart: unless-stopped